body
        > header
                padding: 25px 0
                > .content
                        +make-row
                        > .logo-container
                                +make-xs-column(12)
                                +make-sm-column(4)
                                +make-md-column(3)
                                
                                
                                > .logo-container__logo
                                        width: 80%
                                        margin-left: 20%
                        > .search-container
                                +make-xs-column(12)
                                +make-sm-column(4)
                                +make-md-column(4)
                                
                                +make-xs-column-offset(0)
                                +make-sm-column-offset(4)
                                +make-md-column-offset(5)
                        
                                input.search-container__input.form-control
                                        height: 38px                                       
                                        color: #999
                                        font: italic 13px $font_main
                                        margin-top: 7px
                                        border: 1px solid $cinza-claro
                                        border-radius: 4px
                            
                            
                            
                            
        > #navegacao
                +gradient(90deg, $verde, $azul)
                > .container
                        > #navegacao__content
                                +make-md-column(12)
                                .navbar
                                        border-radius: 0
                                        box-shadow: none
                                        border: none
                                        +gradient(90deg, $verde, $azul)
                                        margin-bottom: 0
                                        .navbar-collapse
                                                border: none
                                                > ul.navbar-nav
                                                        > li
                                                                &.active
                                                                        > a
                                                                                background: $active
                                            
                                                                a
                                                                        color: $branco
                                                                        font: bold 15px $font_main
                                                                        &:hover
                                                                                background: $active
                                                                        
                                                
            
                           
                        
                        
            